* {
    background-color: black;
    color: white;
}
h1{
    font-family: "Caveat", serif;
}
#image {
    border: 5px solid white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  margin-top: 5rem; 
}

div {
   text-align: center;
}